body {
    margin: 0px;
    padding: 0px;
}

canvas#beams {
    z-index: 0;
}
canvas#beams_overlay {
    border: 1px orange solid;
    z-index: 1;
}
table.injections td{
    padding: 3px 3px 0px 3px;
}

table.schemeinfo td{
    vertical-align: top;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
table.schemeinfo th{
    vertical-align: top;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

table.beaminfo {
    border: collpase;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
table.beaminfo td {
    border: none;
    padding: 0px 4px 0px 4px;
    vertical-align: top;
    text-align: left;
}

table.beaminfo th {
    border-bottom: 1px solid black;
}

table.injections th {
    border: none;
    padding: 0px 4px 0px 4px;
}

table.injections td {
    text-align: center;
}


div#graphics {
    height: 330px;
}

div#moveX {
    height: 15px;
}

div#maxmove {
    height: 15px;
}


div#schemeTreeContainer {
    display: none;
    border-radius: 25px;
    padding: 20px;
    margin: 40px;
    left: 0px;
    right: 0px;
    background: #ffffc0;
    border: 2px solid gray;
    z-index: 2;
}

table.params td.dist {
    padding: 3px 0px 3px 40px;
}

table.params input {
    width: 50px;
}

div#schemedescription {
    border: 2px solid gray;
    border-radius: 20px;
    min-width: 500px;
    min-height: 80px;
    padding: 10px;
}

table.inparams {
    width: 100%;
}

table.inparams td {
    vertical-align: top;
}

table.inparams td.shiftright {
    padding-left: 50px;
}

div#help {    
    display: none;
    position: absolute;
    top: 20;
    margin-left: auto;
    margin-right: auto;
    margin: 30px;
    padding: 30px;
    background: #d0ffd0;
    border: 2px solid gray;
    border-radius: 25px;
    z-index: 2;
}

div#help p{
    text-align: justify;
    padding-left: 20px;
}
div#help li{
    text-align: justify;
}

div.helpbutton {
    position: absolute;
    display: inline-block;
    right: 20px;
}

div.fillingParams {
    display: none;
    border: 1px solid gray;
    padding: 5px;
    vertical-align: top;
}

input {
    border-radius: 8px;
}

div#savebox {
    display: none;
    margin: 40px;
    border-radius: 25px;
    background-color: #ffe040;
    border: 2px solid #807020;
    padding : 30px;
}

div#saveSchemeTree {
    display: inline-block;
    border-radius: 20px;
    border: 2px solid #808000;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 300px;
    background-color: #ffffd0;
}

div.saveButtons {
    width: 100%;
    text-align: center;
    margin: auto;
}

div#saveButtons button {
    margin-left : 20px;
    margin-right : 20px;
}

label#currentSchemeName {
    color : #006000;
    background-color: e0e0e0;
}

button, select, a.buttonStyle {
    border-radius: 8px;
    border: 1px solid gray;
    padding: 3px;
    margin: 3px;
    background-color: #D0E0B0;
    text-decoration: inherit;
    color: inherit;
    font: inherit;
}

div.phaseplot {
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

div.phaseplotcomment {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 80%;
}

table.inputs td {
    padding: 5px;
}

table.inputs td.number input {
    width: 110px;
}

table.phaseinfo td {
    padding-left: 5px;
    padding-right: 5px;
}


tbody.advanced {
    display: none;
}

div#advancedEditors {
    display: none;
    padding: 20px 0px 20px 0px;
    position: fixed;
    width: 100%;
    top: 170px;
    background: #ffffa0;
    border-radius: 25px;
    border: 3px solid #606000;
    z-index: 3;
}

span#pwdentry {
    display: none;
}

table#longrange {
    font-size: 60%;
}

table#longrange td, table#longrange th {
    border-right: 1px solid gray;
}